body {
  background-color: #363636;
  font-family: "Roboto Condensed";
  color: #ffffff;
  padding-top: 100px;
}


h5 {
  font-weight: 300;
  text-align: center;
  letter-spacing: 30px;
}

.col {
  text-align: center;
  justify-content: center;
}
